<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.dao.EmployeesDao">
	
	<select id="queryPage" resultType="Map">
		select * from employees 
		<if test="param1 != null and param2 != null">
			limit #{0},#{1}
		</if>
	</select>

</mapper>
